:root {
  --color-1: #201821;
  --color-2: #8F20A1;
  --color-3: #CB66DB;
  --color-5: #FFFFFF;
  --color-6: #e391f0;
  --color-8: #6D137D;
  --color-7: #8E20A1;
  --color-9: #7B138C;
  --color-10: #C264D1;
  --color-11: #39163E;
  --color-12: rgba(255, 255, 255, 0.17);
  --color-13: rgba(210, 85, 226, 0.17);
  --color-14: #DB58EC;
  --color-15: rgba(204, 84, 220, 0.17);
  --color-16: rgb(219, 88, 236, .5);
  --color-17: #1F0B1F;
  --color-18: #2E272E;
  --color-19: #5C1765;
  --color-20: rgba(255, 255, 255, 0.12);
  --color-21: rgba(0, 0, 0, 0);
  --color-22: #29212A;
  --color-23: #000000;
  --color-24: #D9D9D9;
  --color-25: #B85FC6;
  --color-26: #784580;
  --color-27: #A658B3;
  --color-28: rgba(255, 255, 255, 0.25);
  --color-29: rgba(217, 217, 217, 0.07);
  --color-30: #2E0833;
  --color-31: #D000F3;
  --color-32: #FF35D3;
  --color-33: #D32BEF;
  --color-34: rgba(223, 44, 253, 0.24);
  --color-35: rgba(115, 8, 133, 0.50);
  --shadow-1: rgba(201, 55, 225, 0.15);
  --shadow-2: rgba(255, 255, 255, 0.5);
  --shadow-3: rgba(0, 0, 0, 0.25);
  --shadow-4: rgba(166, 88, 179, 0.36);
  --shadow-5: rgba(54, 44, 56, 0.36);
  --shadow-6: rgba(0, 0, 0, 0.11);
  --speed-03: .3s;
  --speed-045: .45s;
}